{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UR-Mindy</title>
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css\style.css' %}" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<!-- Íconos -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<body>
    <header>
        <button class="back-btn" onclick="window.location.href='{% url 'menu' %}'">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="white">
                <path d="M15 18l-6-6 6-6" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <span class="header-title">Modulo Educativo</span>
    </header>
    {% if educativo %}
    <div class="card1">
        <div class="tip-title">{{ educativo.tipsdia }}</div>
        
        {% if educativo.imagen %}
            <img src="{{ educativo.imagen.url }}" alt="Imagen educativa">
        {% endif %}

        <div class="message1"><strong>Mensaje preventivo:</strong> {{ educativo.mensajeprevent }}</div>
        <div class="message1"><strong>Mensaje:</strong> {{ educativo.mensajetexto }}</div>

        {% if educativo.link %}
            <a class="button-link1" href="{{ educativo.link }}" target="_blank">Ver más</a>
        {% endif %}
        </div>
    {% else %}
        <p>No hay datos disponibles.</p>
    {% endif %}

</body>
</html>