{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UR-Mindy</title>
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css\style.css' %}" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<!-- Íconos -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<body>
    <header>
        <button class="back-btn" onclick="window.location.href='{% url 'menu' %}'">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="white">
                <path d="M15 18l-6-6 6-6" stroke="white" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <span class="header-title">Terapia cognitivo conductual</span>
    </header>
    <div class="form-container">
            <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Ver idea realista</button>
        </form>

        {% if idea_realista %}
        <div class="mt-6 bg-green-100 p-4 rounded border border-green-400">
            <h2 class="font-bold">Idea más realista:</h2>
            <p>{{ idea_realista }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>