{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UR-Mindy</title>
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static '\css\style.css' %}" >

</head>

<body>
    <header>

        <img src="{% static 'img/UR-Mindy.png' %}" class="logo" alt="UR-Mindy">

    </header>
    <h1>Mensajes desde la base de datos:</h1>
    <ul>
        {% for mensaje in mensajes %}
            <li>{{ mensaje.texto }} ({{ mensaje.fecha }})</li>
        {% empty %}
            <li>No hay mensajes aún.</li>
        {% endfor %}
    </ul>

    <h2>Agregar un nuevo mensaje</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="nuevo_texto" placeholder="Escribe algo..." required>
        <button type="submit">Guardar mensaje</button>
    </form>

    <button onclick="alert('¡Botón JS funcionando!')">Botón JS</button>
</body>
</html>